/* File WIP, for future cases */

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.v-playground {
    position: relative;
    min-height: 100px;
    height: 100%;
}

.v-playground.closed-terminal {
    grid-template-rows: 100%;
}

.v-playground.closed-terminal .playground__terminal {
    display: none;
}

.v-playground .playground__editor {
    position: relative;

    display: grid;
    grid-template-rows: 70% 30%;
    height: 100%;
}

.run-style-button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.run-style-button .icon .run-icon {
    fill: var(--run-embeded-icon-color);
}

.CodeMirror {
    width: 100%;
    height: 100%;

    font-family: "JetBrains Mono", "Fira Mono", JetBrains Mono, ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 13px;
    line-height: 1.57;
}

.CodeMirror {
    background-color: var(--background-color);
}

.CodeMirror-scroll {
    padding: 0;
}

.CodeMirror-line {
    padding-left: 15px !important;
}

.CodeMirror-gutters {
    padding-left: 5px;
}

.CodeMirror-linenumbers {
}

.CodeMirror-linenumber {
    font-size: 0.9em;
}

.playground__terminal {
    position: relative;
    border-top: 1px solid var(--terminal-header-border);

    height: 100%;
    display: grid;
    grid-template-rows: auto;
}

.playground__terminal.closed {
    display: none;
}

.playground__terminal .header {
    display: grid;
    grid-template-columns: auto max-content;

    padding: 10px 20px 10px 20px;

    font-size: 13px;
    font-weight: 600;
    line-height: 1.7;

    color: var(--terminal-header-text);
    border-top: 1px solid var(--terminal-header-border);
    border-bottom: 1px solid var(--terminal-header-border);
    background-color: var(--terminal-header);
}

.playground__terminal .terminal__close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 3px 0;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.playground__terminal .terminal__close-button .close-terminal-button-rect {
    fill: var(--terminal-close-button);
}

.playground__terminal .terminal__close-button:hover {
    background-color: var(--terminal-close-button-hover);
}

.playground__terminal .terminal__output {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: scroll;

    padding: 5px 20px 20px 10px;

    font-family: "JetBrains Mono", "Fira Mono", JetBrains Mono, ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 13.5px;
    line-height: 1.57;

    background-color: var(--terminal-background);
    color: var(--terminal-text);
}

.playground-link {
    height: 30px;
    margin-top: 5px;
    color: var(--playground-link);
    font-size: 11px;
}
