@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "FiraSans";
  src: url("https://play.vlang.io/fonts/FiraSans-ExtraBold.woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("https://play.vlang.io/fonts/FiraSans-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("https://play.vlang.io/fonts/FiraSans-SemiBold.woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("https://play.vlang.io/fonts/FiraSans-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("https://play.vlang.io/fonts/FiraSans-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("https://play.vlang.io/fonts/FiraSans-Book.woff2");
  font-weight: 350;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("https://play.vlang.io/fonts/FiraSans-Light.woff2");
  font-weight: 300;
  font-display: swap;
}
