html {
    --help-button-background: #fff;
    --help-button-background-hover: #f7f8fa;
    --help-button-color: #545454;
    --help-button-border: #7c7c7c;
    --help-button-border-hover: #4f4f4f;
    --help-tip-background: #fff;
    --help-tip-text: #000;
}

html[data-theme='dark'] {
    --help-button-background: #2a2a2d;
    --help-button-background-hover: #2e2e31;
    --help-button-color: #e0e0e0;
    --help-button-border: #737373;
    --help-button-border-hover: #a1a1a1;
    --help-tip-background: #fff;
    --help-tip-text: #000;
}

.playground__help-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--help-button-border);
    background-color: var(--help-button-background);
    color: var(--help-button-color);
    font-size: 25px;
    outline: none;

    transition: background-color 100ms, border-color 100ms;

    &::after {
        content: '?';
    }
}

.playground__help-button:hover {
    cursor: pointer;
    border: 1px solid var(--help-button-border-hover);
    background-color: var(--help-button-background-hover);
}

.playground__help-overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.playground__help-overlay.opened {
    display: block;
}

.playground__help-tip {
    width: 300px;
    border-radius: 10px;
    background-color: #fff;
    color: var(--black);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    font-size: 16px;

    margin-top: -300px;
    padding: 15px 15px;
    right: 80px;

    bottom: 20px;
    position: absolute;

    display: none;

    z-index: 1000;
    border: 1px solid var(--terminal-header-border);

    @media (max-width: 1000px) {
        bottom: 60px;
        right: 20px;
    }
}

.playground__help-tip.opened {
    display: block;
}

.playground__help-tip .header {
    display: grid;
    grid-template-columns: auto max-content;
    align-content: center;
    height: 30px;

    margin-bottom: 20px;
}

.playground__help-tip .header .playground__close-help-tip-button {
    margin-top: 2px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}

.playground__help-tip .header .playground__close-help-tip-button:hover {
    cursor: pointer;
}

.playground__help-tip .about-link {
    margin-top: 20px;
}

.playground__help-tip .about-link a {
    color: #000;
}

.playground__help-tip .about-link a:visited {
    color: #000;
}
