.cm-s-light .cm-keyword { color: #0033b3; }
.cm-s-light .cm-builtin { color: #0033b3; }
.cm-s-light .cm-atom { color: #219; }
.cm-s-light .cm-number { color: #1750EB; }
.cm-s-light .cm-at-identifier { color: #708}
.cm-s-light .cm-def { color: #00f; }
.cm-s-light .cm-variable,
.cm-s-light .cm-punctuation,
.cm-s-light .cm-property,
.cm-s-light .cm-operator {}
.cm-s-light .cm-variable-2 { color: #05a; }
.cm-s-light .cm-variable-3, .cm-s-light .cm-type { color: #085; }
.cm-s-light .cm-comment { color: #8C8C8C; }
.cm-s-light .cm-string { color: #067D17; }
.cm-s-light .cm-string-2 { color: #067D17; }
.cm-s-light .cm-meta { color: #555; }
.cm-s-light .cm-qualifier { color: #555; }
.cm-s-light .cm-bracket { color: #997; }
.cm-s-light .cm-tag { color: #170; }
.cm-s-light .cm-attribute { color: #00c; }
.cm-s-light .cm-hr { color: #999; }
.cm-s-light .cm-link { color: #00c; }

CodeMirror.cm-s-light  span.CodeMirror-matchingbracket {
    background-color: #93d9d9;
    color: #000;
    padding: 1px 0;
}
CodeMirror.cm-s-light span.CodeMirror-nonmatchingbracket { color: #a22; }

.cm-s-light .CodeMirror-gutters {
    background-color: #fff;
    border-right: 1px solid #eaecef;
}

.CodeMirror-linenumbers {
    border-right: 0 solid #e7e8ec;
}

.CodeMirror-linenumber {
    color: #aeb3c2;
}

.cm-s-light .CodeMirror-selected { background: #9cc5ef; }
.cm-s-light .CodeMirror-focused .CodeMirror-selected { background: #9cc5ef; }
.cm-s-light .CodeMirror-crosshair { cursor: crosshair; }
.cm-s-light .CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.cm-s-light .CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }
