* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-kerning: auto;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  overflow-y: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

body pre {
  height: 100%;
}

.btn {
  box-shadow: none !important;
  user-select: none;
  line-height: 0 !important;
}

#editor {
  font-size: 1.2em;
}

.console-section {
  height: 100%;
  width: 100%;
  position: relative;
}

#control-bar {
  background-color: #222;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#decrease-font-size {
  margin-left: 6px;
  margin-right: 6px;
}

#console {
  color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 7%);
  height: calc(100% - 52px);
  width: 100%;
  overflow-y: auto;
  position: absolute;
  top: 52px;
  left: 0;
}

#console::-webkit-scrollbar {
  background-color: #222;
}

#console::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.divider {
  background-color: var(--primary-color) !important;
}
