<!DOCTYPE html>
<html>
	<head>
		@js "/static/prism.js"
		@css "/static/prism.css"
		@css "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css"
		@css "/static/index.css"

		<script type="module">
			const Prism = window.Prism
			Prism.plugins.customClass.prefix("pr-")

			import {CodeJar} from "https://medv.io/codejar/codejar.js"
			let editor = document.querySelector("#editor")
			window.jar = new CodeJar(editor, el => Prism.highlightElement(el))
			window.jar.updateCode("")

			editor.focus()
		</script>
	</head>
	<body class="has-text-centered">
		<pre class="editor-pre line-numbers m-4"><code id="editor" class="language-v is-size-6"></code></pre>
		<section class="section p-0">
			<section class="section field is-grouped p-3 m-0" id="control-bar">
				<div class="control">
					<button class="button is-info">run</button>
				</div>
			</section>
			<section class="section p-2 m-0 has-text-left" id="console">
				<p></p>
			</section>
		</section>
	</body>
</html>
