<!DOCTYPE html>
<html class="auto-scaling-disabled">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/prism-light.css" id="prism-css">
    @css "https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css"
    @css "/css/index.css"
    @css "https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    @css "https://cdn.jsdelivr.net/npm/flex-splitter-directive@0.2.0/styles.min.css"
    <title>V Playground</title>
  </head>
  <body class="text-centered with-custom-webkit-scrollbars with-custom-css-scrollbars">
    <main data-flex-splitter-vertical style="flex: auto;">
      <div style="min-height: 2%; height: 2%; display: flex; justify-content: center; align-items: center;">
        <img src="https://raw.githubusercontent.com/vlang/v-logo/master/dist/v-logo.svg" style="height:32px;width:32px;">
        Playground&nbsp;&nbsp;
	<a href="/about.html">About</a>&nbsp;&nbsp;
        <a href="/limitations.html">Limitations</a>
      </div>
      <div style="min-height: 30%; height: 70%;">
        <pre class="line-numbers m-0">
          <code id="editor" class="language-v"></code>
        </pre>
      </div>
      <div role="separator" class="divider"></div>
      <div style="flex: auto; min-height: 20%;">
        <div class="p-0 console-section">
          <div class="d-flex flex-row justify-content-between p-10 m-0" id="control-bar">
            <div class="level-left">
              <button class="btn btn-primary" id="run-button" title="Run code" onclick="runCode()">Run</button>
              <div class="dropdown">
                <button class="btn bg-very-dark" data-toggle="dropdown" id="examples-button">
                  Examples <i class="fa fa-angle-down ml-5"></i>
                </button>
                <div class="dropdown-menu examples-dropdown">
                  <button class="btn btn-link dropdown-item" onclick="loadExample('hello');">
                    Hello, world!
                  </button>
                  <button class="btn btn-link dropdown-item" onclick="loadExample('fibonacci')">
                    Fibonacci
                  </button>
                  <button class="btn btn-link dropdown-item" onclick="loadExample('interpolation')">
                    String interpolation
                  </button>
                </div>
              </div>
            </div>
            <div class="level-right">
              <button class="btn btn-square button-right" id="format" title="Format code" onclick="formatCode();">
                <span class="fas fa-paint-brush"></span>
              </button>
              <button class="btn btn-square button-right" id="reset-code" title="Reset code" onclick="resetCode();">
                <span class="fas fa-trash"></span>
              </button>
              <button class="btn btn-square button-right" id="dark-mode-toggle" title="Toggle dark mode" onclick="toggleDarkMode(true);">
                <span class="fas fa-moon"></span>
              </button>
              <button class="btn btn-square btn-danger button-font-size-changer" id="decrease-font-size" title="Decrease font size" onclick="changeFontSize(-1);">
                <span class="fas fa-minus"></span>
              </button>
              <button class="btn btn-square btn-success text-white button-font-size-changer" id="increase-font-size" title="Increase font size" onclick="changeFontSize(1);">
                <span class="fas fa-plus"></span>
              </button>
            </div>
          </div>
          <div class="p-10 m-0 text-left" id="console">
            <pre class="px-5 m-0" id="console-output"></pre>
          </div>
        </div>
      </div>
    </main>
  </body>
  @js "https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"
  @js "https://cdn.jsdelivr.net/npm/flex-splitter-directive@0.2.0"
  @js "/js/prism.js"
  @js "/js/index.js" 
  <script type="module">
    import { CodeJar } from "/static/js/codejar.js"
    let editor = document.getElementById("editor")
    window.jar = new CodeJar(editor, el => Prism.highlightElement(el))
    let code = localStorage.getItem("code") || "fn main() {\\n\\t\\n}"
    window.jar.updateCode(code)
    window.jar.onUpdate(_ => saveCode())
    editor.focus()
  </script>
</html>
