@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-ExtraBold.woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-SemiBold.woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Book.woff2");
  font-weight: 350;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Light.woff2");
  font-weight: 300;
  font-display: swap;
}
