@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-ExtraBold.woff2");
  font-weight: 800;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-Book.woff2");
  font-weight: 350;
}

@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vlang.foundation/fonts/JetBrainsSans-Light.woff2");
  font-weight: 300;
}
