@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background-color: #1e1f22;
}

/* Header Styles Start */

header {
    height: 70px;
    color: #fff;
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--header-border);
}

header .container {
    height: 100%;
    display: grid;
    grid-template-columns: auto max-content;

    padding: 0 15px 0 40px;
}

header .container .title {
    height: 100%;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 15px;
    align-content: center;
    font-size: 22px;
    color: var(--text-color);
}

header .container .title .title-v-part {
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
}

header .container .title .title-v-part svg {
    margin-top: 5px;
}

header .container .title span {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 3px;
    align-items: center;
}

header .container .buttons {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, max-content);
    align-content: center;
    grid-column-gap: 8px;
}

header .container button {
    height: 38px;
    padding: 8px 20px 6px 17px;
    border: none;
    border-radius: 12px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 15px;
    line-height: 1.5;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 8px;

    transition: background-color 150ms ease 100ms
}

header .container button:hover {
    cursor: pointer;
    background-color: var(--header-button-hover);
}

header .container button .icon path {
    fill: var(--text-color);
}

header .container button .icon rect {
    fill: var(--text-color);
}

header .container .run-button-select {
    height: 38px;
    border: none;
    color: #fff;
    font-size: 15px;
    line-height: 1.5;

    display: grid;

    transition: background-color 150ms ease 100ms;

    margin-left: 20px;
    grid-template-columns: max-content max-content max-content;
}

header .container .run-button-select button {
    padding: 8px 20px 6px 17px;
    border-radius: 8px 0 0 8px;

    background-color: #3474f0;

    border: none;
    color: #fff;
    font-size: 15px;
    line-height: 1.5;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 8px;
    align-items: center;
}

header .container .run-button-select button:hover {
    cursor: pointer;
    background-color: #2a5ed0;
}

header .container .run-button-select button .label {
    margin-top: -2px;
}

header .container .run-button-select .open-run-select {
    border-radius: 0 8px 8px 0;

    padding: 8px 7px 4px 7px;

    background-color: #3474f0;
}

header .container .run-button-select .open-run-select:hover {
    cursor: pointer;
    background-color: #2a5ed0;
}

header .container .run-button-select .open-run-select .open-icon {
    padding: 3px 0 0 0;
}

header .container .run-button-select .run-configurations-list {
    width: 250px;

    position: absolute;
    top: 57px;
    right: 102px;

    background-color: var(--header-background-color);
    border: 1px solid var(--select-header-border);
    border-radius: 8px;
    z-index: 1000;

    padding: 15px 10px;

    box-shadow: 0 15px 8px -10px rgba(0, 0, 0, 0.2);
}

header .container .run-button-select .run-configurations-list.hidden {
    display: none;
}

header .container .run-button-select .run-configurations-list h4 {
    margin: 0 0 5px;
    padding-left: 10px;
    color: #6e737b;
    font-size: 13px;
    font-weight: 700;
}

header .container .run-button-select .run-configurations-list .configuration {
    padding: 5px 7px 2px;
    border-radius: 6px;

    font-size: 15px;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 8px;
}

header .container .run-button-select .run-configurations-list .configuration:hover {
    cursor: pointer;
    background-color: var(--configuration-item-hover);
}

header .container .run-button-select .run-configurations-list .configuration span {
    margin-top: -2px;
    color: var(--text-color);
}

header .container .run-button-select .run-configurations-list .configuration svg {
    margin-top: 1px;
}

header .container button.theme {
    padding-top: 3px;
    grid-template-columns: max-content;
    margin-left: 20px
}

header .container button.theme:hover {
    background-color: transparent;
}

header .container button.theme:hover .icon .theme-icon path {
    fill: #9b9b9b;
}

header .container button.theme .theme-icon {
    width: 22px;
}

header .container button.theme .theme-icon path {
    fill: var(--text-color);
}

header .container button .icon {
    padding-top: 2px;
}

header .container button .icon .run-icon {
    fill: #fff;
}

/* Header Styles End */
