.tips-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;

  padding-top: 135px;

  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 1s;

  z-index: 100000;

  &.open {
    display: block;
    opacity: 1;
  }

  .close-button {
    position: absolute;
    top: 150px;
    right: 20px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: var(--tools-button-hover);
    }

    svg {
      margin-top: 4px;
    }
  }

  .tip {
    position: absolute;
    width: max-content;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-color);
    border: 1px solid var(--tools-border);
    color: var(--text-color);
    font-size: 14px;
    line-height: 20px;

    .title {
      font-weight: 700;
      margin-bottom: 10px;

      &.big {
        font-size: 20px;
      }
    }

    span {
      color: var(--theme-color);
    }
  }
}
